{{ define "main" }}

  {{ .Render "section-header" }}

  <div id="posts">
    {{ $paginator := .Paginator }}
    {{ range $paginator.Pages }}
      <article>
        {{ .Render "summary" }}
      </article>
    {{ end }}

    {{ if .Site.Params.pagination.loadMore }}
      {{ if $paginator.HasNext }}
      <div id="loadMore">
        <br>
        <button type="button"
                onclick="loadMoreHandler({{ .RelPermalink | relLangURL }},{{ add 1 $paginator.PageNumber }})">
          <span>{{ T "load_more" }}</span>
          <span class="hidden">{{ T "loading" }}</span>
        </button>
      </div>
      {{ end }}
    {{ else }}
      {{ template "_internal/pagination.html" . }}
    {{ end }}
  </div>

{{ end }}
