{{ define "main" }}
<article>
  <h1>{{ .Title }}</h1>

  <p>
    {{ .Content }}
  </p>

  {{ T "by" }} <em>{{ if .Params.Author }}{{ .Params.Author }}{{ else }}{{ .Site.Params.Author }}{{ end }}</em>
</article>

<hr>

<aside id="meta">
  <time datetime="{{ .Date }}">{{ .Date.Format (.Site.Params.dateFormat | default "Jan 2, 2006") }}</time>
  |
  <span id="readingtime">{{ T "reading_time" .ReadingTime }}</span>

  {{ with .Params.tags }}
  <ul>
    {{ range . }}
      <li>
        <a href="{{ "tags/" | absLangURL }}{{ . | urlize }}" rel="tag">
          <span>{{ . }}</span>
        </a>
      </li>
    {{ end }}
    </ul>
  {{ end }}

  <br>

  <!-- Sharing options -->

  <!-- Comments -->
  <section id="comments">
    {{ template "_internal/disqus.html" . }}
    {{ partial "disqus.html" . }}
  </section>

  <br>

  <!-- Article navigation -->
  {{ with .PrevInSection }}
  <a href="{{ .Permalink | absLangURL }}" rel="prev">
    &#8592; {{ .Title }}
  </a>
  {{ end }}
  &nbsp;&nbsp;|&nbsp;&nbsp;
  <a href="{{ .Site.BaseURL | absLangURL }}" rel="home">{{ T "go_home" }}</a>
  &nbsp;&nbsp;|&nbsp;&nbsp;
  {{ with .NextInSection }}
  <a href="{{ .Permalink | absLangURL }}" rel="next">
    {{ .Title }} &#8594;
  </a>
  {{ end }}

</aside>
{{ end }}
